@import "tailwindcss";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #10141c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer base {
  :root {
    --primary: #1E3A8A;
    --secondary: #1b222a;
    --accent: #27a249;
    --red: #e04340;
  }
}
@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-accent {
    background-color: var(--accent);
  }
  .bg-danger {
    background-color: var(--red);
  }
  .border-primary {
    border-color: var(--primary);
  }
  
  .text-primary {
    color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .text-accent {
    color: var(--accent);
  }
  .text-danger {
    color: var(--red);
  }

}

